<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/24a76defec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> -SPUTNIK- </title>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">*- SPUTNIK -*</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="href="https://eliasguerrerod.github.io/AplicacionesWebEquipoDos/AplicacionesWebEquipoDos/index.html">
              INICIO <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONOCENOS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              RESGISTROS USUARIO / EMPRESAS
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://eliasguerrerod.github.io/AplicacionesWebEquipoDos/views/Catalogo/Catalogo.html">
                REGISTRO DE EMPRESAS</a>
              <a class="dropdown-item" href="href="https://eliasguerrerod.github.io/AplicacionesWebEquipoDos/views/Registro/Registro.html">
                REGISTRO DE USUARIOS</a>
              <div class="dropdown-divider"></div>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">BUSCAR</button>
        </form>
      </div>
    </nav>
</head>

<body>

  <center><h1>Tabla de registro de usuarios</h1></center>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Numero de usuario</th>
        <th scope="col">Nombre de usuario</th>
        <th scope="col">Correo de usuario</th>
        <th scope="col">telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Guerrero D. Elias</td>
        <td>tusuggar@hot.com</td>
        <td>cel. 666 666 6666</td>
        <td>
          <button type="button" class="btn btn-primary"><i class="fas fa-eye"></i></button>
          <button type="button" class="btn btn-warning"><i class="fas fa-edit"></i></button>
          <button type="button"  class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Becerril M. Alejandro</td>
        <td>papichulo69@hot.com</td>
        <td>cel. 722 666 6969 </td>
        <td>
          <button type="button" class="btn btn-primary"><i class="fas fa-eye"></i></button>
          <button type="button" class="btn btn-warning"><i class="fas fa-edit"></i></button>
          <button type="button"  class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Longinos F. Jordan</td>
        <td>f.boy.jord@hot.com</td>
        <td>cel. 722 224 4268</td>
        <td>
          <button type="button" class="btn btn-primary"><i class="fas fa-eye"></i></button>
          <button type="button" class="btn btn-warning"><i class="fas fa-edit"></i></button>
          <button type="button"  class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
   
  <center><h1>.</h1></center>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

<footer class="page-footer bg-primary font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Sputnik</h5>
        <p>Esta es una pagina para mostrar diversas estancias
          para personas de la 3ra edad</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Conocenos</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Mision</a>
          </li>
          <li>
            <a href="#!">Vision</a>
          </li>
          <li>
            <a href="#!">Objetivo</a>
          </li>
          <li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Contacto</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Telefono</a>
          </li>
          <li>
            <a href="#!">Correo</a>
          </li>
          <li>
            <a href="#!">Ubicacion</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">Sputnik
    <a href="https://mdbootstrap.com/"> Gracias por su preferencia</a>
  </div>
</footer>
</html>